{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to BreakPoint{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="images">
                <a href="{%url 'welcome'%}" class="logo">
                    <img src="{% static 'images/logo.png' %}" class = "logo" alt="Logo" height="40">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'rankings' %}">Rankings</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'match' %}">Match</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'leave' %}">Leave</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'join' %}">Join</a></li>
                {% endif %}
                
                
                
            </ul>
        </div>
    </nav>

    <div class="content">
    {% block content %}
    {% if messages %}
        <ul class = "no-bullets">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}
    </div>
</body>
</html>
